<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>color1</key>
		<array>
			<string>186</string>
			<string>243</string>
			<string>189</string>
		</array>
		<key>color2</key>
		<array>
			<string>255</string>
			<string>0</string>
			<string>0</string>
		</array>
		<key>color3</key>
		<array>
			<string>255</string>
			<string>179</string>
			<string>102</string>
		</array>
		<key>color4</key>
		<array>
			<string>230</string>
			<string>255</string>
			<string>102</string>
		</array>
		<key>color5</key>
		<array>
			<string>153</string>
			<string>204</string>
			<string>102</string>
		</array>
		<key>color6</key>
		<array>
			<string>102</string>
			<string>153</string>
			<string>255</string>
		</array>
		<key>color7</key>
		<array>
			<string>235</string>
			<string>0</string>
			<string>235</string>
		</array>
		<key>color8</key>
		<array>
			<string>204</string>
			<string>102</string>
			<string>102</string>
		</array>
		<key>color9</key>
		<array>
			<string>255</string>
			<string>204</string>
			<string>230</string>
		</array>
		<key>color10</key>
		<array>
			<string>255</string>
			<string>255</string>
			<string>0</string>
		</array>
		<key>color11</key>
		<array>
			<string>41</string>
			<string>255</string>
			<string>41</string>
		</array>
		<key>color12</key>
		<array>
			<string>102</string>
			<string>204</string>
			<string>204</string>
		</array>
		<key>color13</key>
		<array>
			<string>204</string>
			<string>102</string>
			<string>204</string>
		</array>
		<key>color14</key>
		<array>
			<string>255</string>
			<string>102</string>
			<string>102</string>
		</array>
		<key>color15</key>
		<array>
			<string>204</string>
			<string>153</string>
			<string>102</string>
		</array>
		<key>color16</key>
		<array>
			<string>204</string>
			<string>204</string>
			<string>102</string>
		</array>
		<key>color17</key>
		<array>
			<string>153</string>
			<string>255</string>
			<string>102</string>
		</array>
		<key>color18</key>
		<array>
			<string>0</string>
			<string>0</string>
			<string>255</string>
		</array>
		<key>color19</key>
		<array>
			<string>184</string>
			<string>41</string>
			<string>255</string>
		</array>
		<key>color20</key>
		<array>
			<string>255</string>
			<string>102</string>
			<string>153</string>
		</array>
		<key>color21</key>
		<array>
			<string>255</string>
			<string>128</string>
			<string>0</string>
		</array>
		<key>color22</key>
		<array>
			<string>255</string>
			<string>204</string>
			<string>102</string>
		</array>
		<key>color23</key>
		<array>
			<string>0</string>
			<string>255</string>
			<string>0</string>
		</array>
		<key>color24</key>
		<array>
			<string>102</string>
			<string>255</string>
			<string>255</string>
		</array>
		<key>color25</key>
		<array>
			<string>255</string>
			<string>204</string>
			<string>204</string>
		</array>
		<key>color26</key>
		<array>
			<string>255</string>
			<string>204</string>
			<string>153</string>
		</array>
		<key>color27</key>
		<array>
			<string>204</string>
			<string>255</string>
			<string>153</string>
		</array>
		<key>color28</key>
		<array>
			<string>204</string>
			<string>255</string>
			<string>204</string>
		</array>
		<key>color29</key>
		<array>
			<string>153</string>
			<string>255</string>
			<string>255</string>
		</array>
		<key>color30</key>
		<array>
			<string>204</string>
			<string>204</string>
			<string>255</string>
		</array>
		<key>color31</key>
		<array>
			<string>61</string>
			<string>61</string>
			<string>61</string>
		</array>
		<key>color32</key>
		<array>
			<string>204</string>
			<string>255</string>
			<string>153</string>
		</array>
		<key>color33</key>
		<array>
			<string>255</string>
			<string>255</string>
			<string>143</string>
		</array>
		<key>color34</key>
		<array>
			<string>143</string>
			<string>143</string>
			<string>255</string>
		</array>
		<key>color35</key>
		<array>
			<string>235</string>
			<string>0</string>
			<string>235</string>
		</array>
		<key>color36</key>
		<array>
			<string>102</string>
			<string>255</string>
			<string>204</string>
		</array>
	</dict>
	<key>shapes</key>
	<dict>
		<key>shape1</key>
		<string>pics/shapes/shape1.png</string>
		<key>shape2</key>
		<string>pics/shapes/shape2.png</string>
		<key>shape3</key>
		<string>pics/shapes/shape3.png</string>
		<key>shape4</key>
		<string>pics/shapes/shape4.png</string>
		<key>shape5</key>
		<string>pics/shapes/shape5.png</string>
		<key>shape6</key>
		<string>pics/shapes/shape6.png</string>
		<key>shape7</key>
		<string>pics/shapes/shape7.png</string>
		<key>shape8</key>
		<string>pics/shapes/shape8.png</string>
		<key>shape9</key>
		<string>pics/shapes/shape9.png</string>
		<key>shape10</key>
		<string>pics/shapes/shape10.png</string>
	</dict>
</dict>
</plist>
